<span class="exp-item">
    <span class="exp-img">
        <img style="width:100%" src=<%= exp.item[i].img %> >
    </span>
    <span class="exp-txt txt-regular">
        <span class="div-split txt-gap">
            <text class="div-split-left">
                <b><%- exp.item[i].name %> </b>
            </text>
            <text class="div-split-right">
                <%- exp.item[i].time %> 
            </text>
        </span>
        <span class="div-split txt-gap">
            <text class="div-split-left">
                <i><%- exp.item[i].pos %> </i>
            </text>
            <text class="div-split-right">
                <%- exp.item[i].loc %> 
            </text>
        </span>
        <text class="txt-gap">
            <%- exp.item[i].description %> 
        </text>

    </span>
</span>